 *{padding:0;
margin:0;
text-decoration:none;
list-style:none;
font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
font-weight:normal;
font-size:14px;
color:#666;
}
.redback{
	background-color:#F51D34;
}
#hdr{
	border-bottom:10px solid #eaeaea;
}
#smenu{
	display:none;
}
#title a{
	font-size:30px;
	display:inline-block;
	padding:1.2em;
	background-color:#fff;
}
#title a:hover{
	background-color:#F4F4F4;
}
#title a h1{
	font-size:30px;
	color:#e70700;
}
#title{
	display:inline-block;
}
#nav2{
	display:none;
}
#nav{
	display:inline-block;
	text-align:center;
	position:relative;
	top:1.3em;
}
#nav ul li{
	float:left;
	display:inline-block;
	padding:0em 5em 0em 5em; 
}
#nav ul li:hover{
border-bottom:1px solid #fff;
}
#nav a{
	background-color:#F51D34;
}

.navmain,.navsub{
	color:#fff;
}

#wrap{
	 width:85%; 
	/* width:100%; */
	margin:0 auto;
	padding:2em;
}
#sidebar{
	float:left;
	width:24%;
	/* text-align:center; */
	/* border-right:1px solid #F51D34; */
	border-right:1px solid #eaeaea;
}
.sidebarpart{
	padding-bottom:3em;
}
.sidebartitle{
	text-align:left;
	color:#e55254;
	padding:1em 0 1em 0;
	/* border-top:1px solid #ddd; */
}
.sidebartitle i{
	color:#e55254;
}
.sidebarcontent{
	text-align:center;
}
#searchremove2{
	display:none;
}
#sidebarcategory a{
	display:block;
	margin:0.3em;
}
#sidebarcategory a:hover{
	color:#F51D34;
}
#sidebartag a{
	display:inline-block;
	/* border:1px solid; */
	/* border-radius:4px; */
	padding:0.3em;
	margin:0.5em;
	/* color:#F51D34; */
}
#sidebartag a:hover{
	border:1px solid #F51D34;
	padding:0.3em;
	margin:0.5em;
	color:#F51D34;
}
.sidebaronecomment{
	  -moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .1);
	 margin:1em 1em;
	 padding:2em 1em;
	 white-space: pre-wrap;
	word-wrap:break-word;
	text-align:left;
}
.sidebaronecomment:hover{
	  -moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .3);
}
.sidebaronecomment a{
	color:#F51D34;
	padding:0 0.5em;
}
.sidebaronecomment a:hover{
	text-decoration:underline;
}
#index-content{
	float:right;
	width:75%;
	padding-bottom:4em;
}
.onearticle{
	margin:0em 0em 1.5em 1em;
	border-left:10px solid #e55254;
    -moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .1);
}
.onearticle:hover{
	-moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .3);
}
.onearticletitle h2{
	color:#e55254;
	font-size:18px;
	padding-left:4em;
	padding-top:1.5em;
}
.onearticletitle h2:hover{
	width:100%;
	overflow:hidden;
	text-decoration:underline;
}
.onearticledown{
	padding:0.5em 0em 1.5em 2em;
	width:100%;
	overflow:hidden;
}
.onearticletags{
	float:left;
	width:20%;
}
.onearticletags a{
	display:inline-block;
	padding:0.5em;
	margin:0.2em;
	color:#717171;
	background-color:#efefef;
}
.onearticletags a:hover{
	color:#fff;
	background-color:#E55254;
}
.onearticleright{
	float:left;
	width:70%;
}

.onearticlecontent{
	text-indent:2em;
	padding:1em 1em 1em 1em;
}
.onearticleinfo a{
	color:#E55254;
}
.onearticleinfo a:hover{
	/* background-color:#f4f4f4; */
	/* border-left:10px solid #e55254; */
	text-decoration:underline;
}
.onearticleinfo span{
	display:inline-block;
	padding:0 0.5em 0 0.5em;
	color:#999;
}
.onearticleinfo i{
	color:#999;
}
#pagenation{
	text-align:center;
	padding:1em 4em 0em 4em;
}
#pagenation a{
	padding:0.5em 0.8em;
	margin:0.5em;
	display:inline-block;
	background-color:#eaeaea;
}
#pagenation a:hover{
	color:#F51D34;
	font-weight:bold;
}
#apagenow{
	color:#F51D34;
	font-weight:bold;
}

#footer{
	clear:both;
	text-align:center;
	background-color:#F51D34;
}
#fcontent{
	padding:1.7em 0 0.7em;
}
#footer p{
	padding:0.2em 0 0.5em 0;
	color:#fff;
}
#footer a{
	display:inline-block;
	padding:0.2em 0.5em;
	margin:0.2em;
	border-radius:0.3em;
	background-color:#fff;
	color:#F51D34;
}
#footer a:hover{
	background-color:#eee;
}
.fa-copyright,.fa-smile-o,.fa-link,.fa-hand-o-right{
	color:#fff;
}
#ctime{
	font-weight:bold;
	padding:1em;
	color:#fff;
}
#singlearticle{
	margin:0em 0em 1.5em 1em;
	border-left:10px solid #e55254;
    -moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .1);
	 text-align:center;
}
#singlearticletags{
	text-align:left;
	padding:1em 0 0 1em;
}
#singlearticletags a{
	display:inline-block;
	padding:0.5em;
	margin:0.2em;
	color:#717171;
	background-color:#efefef;
}
#singlearticletags a:hover{
	color:#fff;
	background-color:#E55254;
}

#singlearticle:hover{
	-moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .3);
}
#singlearticle h2{
	color:#e55254;
	font-size:18px;
	padding:0.5em 1em 0 1em;
}
#singlearticleinfo{
	margin:1em 4em 0em 4em;
	padding:0 0 0.7em 0;
	border-bottom:1px solid #999;
}
#singlearticleinfo span{
	color:#999;
	font-size:12px;
	padding:0 1em 0 1em;
}
#singlearticleinfo span a{
	color:#e55254;
	font-size:12px;
}
#singlearticleinfo span a:hover{
text-decoration:underline;
}
#singlearticlecontent{
	padding:2em 3em;
	font-size:15px;
	line-height:1.7em;
	text-align:left;
}
#beforecom{
	font-size:18px;
	padding:4em 1em 1em;
	/* border-left:10px solid #E15254; */
	border-bottom:1px solid #999;
}
#acompostpart{
	padding:1em;
}
#editor-author{
	display:inline-block;
	width:8em;
	border:1px solid #ccc;
	border-radius:0.1em;
	outline:none;
	padding:0.3em 0.5em;
}
.jiaoEditor{
	margin:1em 0 0 0;
	border:1px solid #ccc;
	border-radius:3px;
	position:relative;
	width:70%;
	height:12em;
}
.jiaoEditor .toolbar{
	height:2.5em;
	background:#f4f4f4;
	border-bottom:1px solid #ccc;
	width:100%;
	overflow:hidden;
}
.jiaoEditor .editor-field{
	box-shadow:inset 1px 1px #ddd;
	height:8em;
	outline:none;
	padding:0.5em 1em 1em 1em;
	overflow:auto;
}
.tool-icon{
	float:left;
	padding:0.5em 1em;
}
.tool-icon:hover{
	background-color:#fdfdfd;
}
#sub{
	border:1px solid #ccc;
	display:inline-block;
	margin:0.5em;
	padding:0.7em 1.5em;
	color:#fff;
	background-color:#E15254;

}
#sub:hover{
	background-color:#F51D34;
}
#result{
	border-left:10px solid #e55254;
	padding-left:4em;
	background-color:#f4f4f4;
}
#resultrefresh a{
	color:#e55254;
}
#resultrefresh a:hover{
	text-decoration:underline;
}
.nacau,.nacct{
	color:#e55254;
}
.fa-paper-plane-o{
	color:#fff;
}
.oneacom,.onechacom{
	border-left:10px solid #e55254;
	/* border:1px solid green; */
	padding:1em;
	margin:1em;
	-moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);
    box-shadow:  1px 1px 2px rgba(9, 9, 9, .1);
	white-space: pre-wrap;
	word-wrap:break-word;
}
.onechacom{
			margin:2em 0em 0em 3em;
}
.oneacom,.onechacom:hover{
	-moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .3);
}
.acreplyinfo{
	padding:0em 0 0.5em 0.5em;
}
.acreply{
	display:inline-block;
	background-color:#f4f4f4;
	padding:0.4em 0.8em;
}
.acreply:hover{
	background-color:#f8f8f8;
	color:#e55254;
}
#editor-hidden{
	display:none;
}
.whereami{
	padding:1em 0 2em 1em;
}
.t1{
	font-size:20px;
	line-height:3em;
}
.t2{
	font-size:18px;
	line-height:3em;
	text-indent:2em;
}
.abinfo{
	margin-left:7em;
}
.abinfo a{
	color:#e55254;
	font-size:12px;
}
.abinfo a:hover{
	text-decoration:underline;
}
.abimg{
text-align:center;
margin:3em 0 3em;

}
.abimg img{
	margin:1em;
-moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);
    box-shadow:  1px 1px 5px rgba(9, 9, 9, .2);
	width:40%;
}
.abul{
	margin:0.5em 0 0.5em 9em;
}
.abul li{
	list-style-type:lower-roman;
}