 *{padding:0;
margin:0;
text-decoration:none;
list-style:none;
font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"MicrosoftJhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;
font-weight:normal;
font-size:30px;
color:#717171;
}
.redback{
	background-color:#F51D34;
	margin-bottom:3em;
}
#hdr{
}
#title a h1{
	font-size:70px;
	color:#fff;
	font-weight:bold;
	font-style:italic;
	padding:0.7em;
}
#smenu{
	position:fixed;
	top:6.3em;
	right:0;
}
#smenu .fa-search,#smenu .fa-bars{
	background-color:#F51D34;
	color:#fff;
	display:block;
	margin:0.2em 0;
	padding:0.15em 0em;
}
#nav{
	position:fixed;
	top:13em;
	right:0em;
	text-align:center;
	display:none;
}
#nav ul li{
	background-color:#F51D34;
	padding:1em 0.5em;
	border:2px solid #fff;
}
#nav ul li:hover{
font-size:50px;
}
.navmain,.navsub{
	color:#fff;
	font-weight:bold;
}
.navsub{
	text-decoration:underline;
}
#wrap{
}
#sidebar{
}
#searchremove{
height:0;
width:0;	
}
#sidebarsearch{
	position:fixed;
	top:10em;
	right:3em;
	background-color:#efefef;
	width:80%;
	border-radius:0.3em;
	display:none;
}
#searchtext{
	font-size:40px;
	height:auto;
	outline:0;
	 -moz-box-shadow:2px 2px 10px rgba(9, 9, 9, .3); 
    -webkit-box-shadow:2px 2px 10px rgba(9, 9, 9, .3);
     box-shadow:2px 2px 10px rgba(9, 9, 9, .3);
}
#searchsub{
    padding: 0.5em;
    background-color: #F51D34;
    border: 0;
    font-size: 40px;
    color: #fff;
}
.sidebarpart{
	margin:0em 2em 2em 1em;
	border-left:30px solid #e55254;
    -moz-box-shadow:2px 2px 10px rgba(9, 9, 9, .2); 
    -webkit-box-shadow:2px 2px 10px rgba(9, 9, 9, .2);
     box-shadow:2px 2px 10px rgba(9, 9, 9, .2);

}
.sidebartitle{
	/* text-align:left; */
	color:#e55254;
	padding:1em 0 0em 1em;
	/* border-top:1px solid #ddd; */
}
.sidebartitle i{
	/* color:#e55254; */
	color:#fff;
}
.sidebarcontent{
	text-align:center;
	padding:0 0 1.5em 0;
}
#sidebarcategory a{
	display:block;
	padding:1em;
	color:#717171;
	text-decoration:underline;
}
#sidebartag a{
	display:inline-block;
	padding:1em;
	margin:0.2em;
	color:#717171;
	background-color:#efefef;
}
#sidebartag a:hover{
	color:#F51D34;
}
.sidebaronecomment{
	-moz-box-shadow:2px 2px 10px rgba(9, 9, 9, .2); 
    -webkit-box-shadow:2px 2px 10px rgba(9, 9, 9, .2);
     box-shadow:2px 2px 10px rgba(9, 9, 9, .2);
	 margin:1em 1em;
	 padding:2em 1em;
	 white-space: pre-wrap;
	word-wrap:break-word;
	text-align:left;
	font-size:15px;
}
.sidebaronecomment a{
	color:#F51D34;
	padding:0.5em;
	margin:0.5em;
	font-size:17px;
	text-decoration:underline;
}
.sidebaronecomment a:hover{
	font-size:20px;
}
.sidebaroccontent{
	font-size:15px;
}
.fa-bullhorn{
	padding-right:2em;
}
#index-content{
}
.onearticle{
	margin:0em 0em 3em 0.7em;
	border-left:30px solid #e55254;
    -moz-box-shadow:3px 3px 5px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:3px 3px 5px rgba(9, 9, 9, .1);
     box-shadow:  3px 3px 5px rgba(9, 9, 9, .1);
}
.onearticletitle h2{
	color:#e55254;
	text-align:center;
	padding-top:1.3em;
	word-break:break-all;
}
.onearticletitle h2:hover{
	font-size:50px;
}
.onearticledown{
	padding:0.5em 2em 1.5em 1.5em;
}
.onearticletags{
}
.onearticletags a{
	display:inline-block;
	padding:0.5em;
	margin:0.2em;
	color:#717171;
	background-color:#efefef;
}
.onearticletags a:hover{
	color:#fff;
	background-color:#E55254;
}
.onearticleright{
}
.onearticlecontent{
	text-indent:2em;
	padding:1em 1em 1em 1em;
		word-break:break-all;
}
.onearticleinfo a{
	color:#E55254;
}
.onearticleinfo a:hover{
	font-size:50px;
}
.onearticleinfo span{
	display:inline-block;
	padding:0 0.5em 0 0.5em;
	color:#999;
}
.onearticleinfo i{
	color:#999;
}
#pagenation{
	text-align:center;
	padding:1em 4em 0em 4em;
}
#pagenation a{
	padding:1em 1.5em;
	margin:0.7em;
	display:inline-block;
	background-color:#eaeaea;
}
#pagenation a:hover{
	color:#F51D34;
	font-weight:bold;
}
#apagenow{
	color:#F51D34;
	font-weight:bold;
}

#footer{
	text-align:center;
	background-color:#F51D34;
}
#fcontent{
	padding:1.7em 0 0.7em;
}
#footer p{
	padding:0.2em 0.5em 0.5em 0.5em;
	color:#fff;
	font-size:25px;
}
#footer a{
	font-size:25px;
	display:inline-block;
	padding:0.1em 0.3em;
	margin:0.2em;
	border-radius:0.3em;
	background-color:#fff;
	color:#F51D34;
	text-decoration:underline;
}
#footer a:hover{
	background-color:#eee;
}
.fa-copyright,.fa-smile-o,.fa-link,.fa-hand-o-right{
	color:#fff;
	margin-right:1em;
}
#ctime{
	font-weight:bold;
	padding:1em;
	color:#fff;
}
#singlearticle{
	margin:0em 0em 1.5em 1em;
	border-left:10px solid #e55254;
    -moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .1);
	 text-align:center;
}
#singlearticletags{
	text-align:left;
	padding:1em 0 0 1em;
}
#singlearticletags a{
	display:inline-block;
	padding:0.5em;
	margin:0.2em;
	color:#717171;
	background-color:#efefef;
}
#singlearticletags a:hover{
	color:#fff;
	background-color:#E55254;
}

#singlearticle:hover{
	-moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .3);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .3);
}
#singlearticle h2{
	color:#e55254;
	font-size:18px;
	padding:0.5em 1em 0 1em;
}
#singlearticleinfo{
	margin:1em 4em 0em 4em;
	padding:0 0 0.7em 0;
	border-bottom:1px solid #999;
}
#singlearticleinfo span{
	color:#999;
	font-size:12px;
	padding:0 1em 0 1em;
}
#singlearticleinfo span a{
	color:#e55254;
	font-size:12px;
}
#singlearticleinfo span a:hover{
text-decoration:underline;
}
#singlearticlecontent{
	padding:2em 3em;
	font-size:17px;
	line-height:1.7em;
	text-align:left;
	word-break:break-all;
}
#beforecom{
	font-size:18px;
	padding:3em 1em 1em;
	/* border-left:10px solid #E15254; */
	border-bottom:1px solid #999;
}
#acompostpart{
	padding:1em;
}
#editor-author{
	display:inline-block;
	width:5em;
	border:1px solid #ccc;
	border-radius:0.1em;
	outline:none;
	padding:0.3em 0.5em;
}
.jiaoEditor{
	margin:1em 0 0 0;
	border:1px solid #ccc;
	border-radius:3px;
	position:relative;
	width:70%;
	height:7em;
}
.jiaoEditor .toolbar{
	display:none;
}
.jiaoEditor .editor-field{
	box-shadow:inset 1px 1px #ddd;
	height:5em;
	outline:none;
	padding:0.5em 1em 1em 1em;
	overflow:auto;
}
.tool-icon{
}
.tool-icon:hover{
}
#sub{
	border:1px solid #ccc;
	display:inline-block;
	margin:0.5em;
	padding:0.7em 1.5em;
	color:#fff;
	background-color:#E15254;
}
#sub:hover{
	background-color:#F51D34;
}
#result{
	font-size:15px;
	border-left:10px solid #e55254;
	padding-left:2em;
	background-color:#f4f4f4;
}
#resultrefresh a{
	color:#e55254;
	text-decoration:underline;
}
.nacau,.nacct{
	color:#e55254;
	font-size:15px;
}
.fa-user-circle-o,.fa-commenting-o,.fa-refresh{
	margin-right:2em;
}
#resultrefresh,#resultrefresh a{
	font-size:15px;
}
.fa-paper-plane-o{
	color:#fff;
}
.oneacom,.onechacom{
	font-size:15px;
	border-left:10px solid #e55254;
	/* border:1px solid green; */
	padding:2em 2em;
	margin:2em 2em;
    -moz-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);  
    -webkit-box-shadow:1px 1px 2px rgba(9, 9, 9, .1);
     box-shadow:  1px 1px 2px rgba(9, 9, 9, .1);
	white-space: pre-wrap;
	word-wrap:break-word;
}
.onechacom{
			margin:2em 0em 0em 3em;
}
.acreplyinfo{
	padding:0em 0 0.5em 0.5em;
	font-size:15px;
	color:#999;
}
.acreply{
	display:inline-block;
	background-color:#f4f4f4;
	padding:0.4em 0.8em;
}
.acreply:hover{
	background-color:#f8f8f8;
	color:#e55254;
}
#editor-hidden{
	display:none;
}
.whereami{
	padding:1em 0 2em 1em;
}